    <?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="com.github.linagee.cordova.androidpublisher" version="0.0.1">
        <name>AndroidPublisher</name>
        <description>Cordova AndroidPublisher</description>
        <license>Apache 2.0</license>
        <keywords>cordova,publish,android,play store</keywords>
        <platform name="android">
            <hook type="before_build" src="lib/androidPublisher_before_build.js" />
            <hook type="after_build" src="lib/androidPublisher_after_build.js" />
        </platform>
    </plugin>
